src/main/plugin/iso19139.gdpr/schema/gdpr/gdpr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://metadata101.org/gdpr"
	xmlns:gdpr="http://metadata101.org/gdpr" 
  xmlns:gmd="http://www.isotc211.org/2005/gmd"
	xmlns:gml="http://www.opengis.net/gml" 
  xmlns:gco="http://www.isotc211.org/2005/gco">
	<xs:import namespace="http://www.isotc211.org/2005/gco"
		schemaLocation="../gco/gco.xsd" />
	<xs:import namespace="http://www.opengis.net/gml"
		schemaLocation="../gml/gml.xsd" />
	<xs:import namespace="http://www.isotc211.org/2005/gmd"
		schemaLocation="../gmd/gmd.xsd" />



	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>
			This file contains extensions of the ISO19139 GDPR
			for the dutch flavour.
		</xs:documentation>
	</xs:annotation>
	<!-- ====================================================================== -->


	<!-- ====================================================================== -->
	<!-- Add elements to gmd:contentInfo -->
	<!-- ====================================================================== -->
	<xs:element name="MD_ContentInfo" type="gdpr:MD_ContentInfo_Type"
		substitutionGroup="gmd:AbstractMD_ContentInformation" />

	<xs:complexType name="MD_ContentInfo_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractMD_ContentInformation_Type">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="purpose" 
						type="gdpr:MD_Purpose_PropertyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="involves" 
          	type="gdpr:MD_Involved_PropertyType" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="provision" 
						type="gdpr:MD_Provision_PropertyType" />
					<xs:element minOccurs="0" maxOccurs="1" name="automaticDecisionMaking"
						type="gdpr:MD_AutomaticDecisionMaking_PropertyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="pia"
            type="gdpr:MD_Pia_PropertyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="security" 
            type="gdpr:MD_Security_PropertyType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="transmission" 
            type="gdpr:MD_Transmission_PropertyType"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ProcesType" 
            type="gdpr:CI_ProcesType_PropertyType"/>
					<xs:element minOccurs="0" maxOccurs="1" name="responsibilityDivision" 
						type="gco:CharacterString_PropertyType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="MD_Involved" type="gdpr:MD_Involved_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Involved_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Involved"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Involved_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" name="data" type="gdpr:MD_Data_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="MD_Data" type="gdpr:MD_Data_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Data_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Data"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Data_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" name="goal" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" name="storagePeriod" type="gdpr:CI_StoragePeriod_PropertyType"/>
          <xs:element minOccurs="0" name="source" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" name="required" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded"  name="specialData" type="gdpr:CI_SpecialData_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="MD_Purpose" type="gdpr:MD_Purpose_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Purpose_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Purpose"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Purpose_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="abstract" type="gco:CharacterString_PropertyType" />
          <xs:element minOccurs="0" name="legalBasis" type="gdpr:CI_LegalBasis_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!-- ........................................................................ -->
  <xs:element name="MD_AutomaticDecisionMaking" type="gdpr:MD_AutomaticDecisionMaking_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_AutomaticDecisionMaking_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_AutomaticDecisionMaking"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_AutomaticDecisionMaking_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="hasAutomaticDecisionMaking" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="logic" minOccurs="0" type="gco:CharacterString_PropertyType" />
		      <xs:element name="importanceAndConsequences" minOccurs="0" type="gco:CharacterString_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
	
  <!-- ........................................................................ -->
  <xs:element name="MD_Provision" type="gdpr:MD_Provision_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Provision_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Provision"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Provision_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="receiverType" minOccurs="0" maxOccurs="unbounded" type="gdpr:CI_ReceiverType_PropertyType" />
		      <xs:element name="description" minOccurs="0" maxOccurs="1" type="gco:CharacterString_PropertyType" />
		      <xs:element name="processorAgreement" minOccurs="0" maxOccurs="unbounded" type="gco:CharacterString_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="MD_Security" type="gdpr:MD_Security_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Security_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Security"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Security_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="hasSecurity" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="securityMeasures" minOccurs="0" maxOccurs="unbounded" type="gdpr:CI_SecurityMeasures_PropertyType" />
          <xs:element name="accessParty" minOccurs="0" maxOccurs="unbounded" type="gdpr:CI_AccessParty_PropertyType" />
          <xs:element name="externalAccessDetails" minOccurs="0" type="gco:CharacterString_PropertyType" />
          <xs:element name="transmitPrivateNetwork" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="transmitPublicNetwork" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="encryptedTransmit" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="encryptedStorage" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="pseudonimization" minOccurs="0" type="gco:Boolean_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="MD_Pia" type="gdpr:MD_Pia_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Pia_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Pia"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Pia_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="requiresPIA" type="gco:Boolean_PropertyType"/>
          <xs:element name="piaUrl" minOccurs="0" type="gco:CharacterString_PropertyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!-- ........................................................................ -->
  <xs:element name="MD_Transmission" type="gdpr:MD_Transmission_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Transmission_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:MD_Transmission"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Transmission_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="outsideEU" minOccurs="0" type="gco:Boolean_PropertyType"/>
          <xs:element name="outsideEUDetails" minOccurs="0" type="gco:CharacterString_PropertyType" />
          <xs:element name="appropriateProtectionLevel" minOccurs="0"  type="gco:Boolean_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ........................................................................ -->
  <xs:element name="CI_ReceiverTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_ReceiverType_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_ReceiverTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_ProcesTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_ProcesType_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_ProcesTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_StoragePeriodCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_StoragePeriod_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_StoragePeriodCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_SpecialDataCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_SpecialData_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_SpecialDataCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_LegalBasisCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_LegalBasis_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_LegalBasisCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_SecurityMeasuresCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_SecurityMeasures_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_SecurityMeasuresCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="CI_AccessPartyCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="CI_AccessParty_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gdpr:CI_AccessPartyCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
</xs:schema>
